extends layout

block content
  main(class='site-content')
    h1= title
    div(class='panel panel-default', id='threadmaker')
      div(class='panel-heading')
        h3(class='panel-title', id='new_thread_title_1') Nýr Þráður
      div(class='panel-body', id='threadmaker1')
        form(id='threadmakerinput', method='post', action='/')
          div(id='name_and_title')
            div(id='nameinput')
              label(for='new_entry_name') Nafn
              input(type='text', class='form-control', id='new_entry_name', name='name', autocomplete='off')
            div(id='titleinput')
              label(for='new_thread_title') Titill
              input(type='text', class='form-control', id='new_thread_title', name='title', autocomplete='off')
          div(id='textinput')
            label(for='new_thread_text') Texti
            textarea(autocomplete='off', rows='3', id='new_thread_text', name='text', class='form-control')
          div(id='buttonarea')
            button(class='btn btn-primary',   id='new_thread_button')
              i(class='glyphicon glyphicon-pencil')  Nýr þráður

    each thread in data
      div(class='panel panel-success')
        div(class='panel-heading')
          a(href='/threads/'+thread.id) #{thread.title}
        div(class='panel-body')
          p= thread.poster
          p= thread.date