doctype html
html
  head
    meta(charset='utf-8')
    title= title
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css' integrity='sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u' crossorigin='anonymous')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='icon', href='/images/frogwavinghand.png', type='image/png', sizes='16x16')
  body(class='Site')
    header(class='jumbotron', id='headerbox')
      h1 Rebbit
      div(id='header_image')
        img(src='/images/frogwavinghand.png', id='rebbitfrog', alt='Rebbit logo')

    block content
    footer(class='well', id='footer')
      p Höfundar: Brynjar Sigurðsson og Sigurþór Pétursson
      p Lokaverkefni í vefforritun 2016