body {
  padding: 0%;
  font: 18px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
  font: 20px;
}

header {
	padding: 0px;
}

button {
	height: 60%;
}

#new_thread_title{
	font-size: 28px;
}

.panel-heading {
	font-size: 28px;
}

#buttonarea {
	display: flex;
	align-items: flex-end;
}

#new_thread_button i {
	font-size: 20px;
}

.site-content {
  padding: 2%;
}

.Site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.Site-content {
  flex: 1;
}

#footer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding-bottom: 0%;
}

#footer p {
	width: 50%;
}

#headerbox {
	display: flex;
	justify-content: space-around;

}

#rebbitfrog {
	height: 100%;
	width: 50%;
}

#threadmaker {
	display:flex;
	flex-direction: column;
}

#threadmaker1 {
	display: flex;
	justify-content: flex-start;
	flex-direction: column;
}

#threadmaker1 * {
	padding-right: 2%;
}

#nameinput {
	width: 15%;
}

#titleinput {
	width: 15%;
}

#textinput {
	width: 20%;
	padding-bottom: 1%;
}