/* Global values */

body {
  padding: 0%;
  font: 18px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
  font-size: 28px;
}

header {
  padding: 1px;
}

button {
  height: 60%;
}

i {
  font-size: 18px;
}

/* Error page */
#backarea_error {
  margin-bottom: 1%;
}

/* index page */
#new_thread_title {
  font-size: 24px;
}

.panel-heading {
  font-size: 24px;
}

.panel-heading h3 {
  font-size: 24px;
  margin: 0%;
}

.panel-body {
  font-size: 20px;
}

#name_and_title {
  display: flex;
}

#new_entry_name {
  font-size: 18px;
}

#new_thread_text {
  font-size: 18px;
}

#buttonarea {
  display: flex;
  align-items: flex-end;
}

#buttonarea i {
  font-size: 16px;
}

#new_thread_button i {
  font-size: 20px;
}

.site-content {
  padding: 2%;
}

.Site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.Site-content {
  flex: 1;
}

#threadmaker {
  display: flex;
  flex-direction: column;
  width: 40%;
}

#threadmaker1 {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

#threadmaker1 * {
  padding-right: 2%;
}

#nameinput {
  width: 20%;
  max-width: 50%;
}

#titleinput {
  width: 50%;
}

#textinput {
  width: 70%;
  max-width: 80%;
  padding-bottom: 1%;
}

/* layout page */

#footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 0%;
}

#footer p {
  width: 50%;
}

#headerbox {
  display: flex;
  justify-content: space-around;
  padding: 2%;
  margin-bottom: 0%;
}

#rebbitfrog {
  height: 100%;
  width: 50%;
}

/* thread page */

.panel-heading h2 {
  font-size: 30px;
  margin: 1%;
}

#new_comment_name {
  font-size: 18px;
}

#new_comment_text {
  font-size: 18px;
}

/* mobile dót */

@media only screen and (max-width: 960px) {
  /* layout page */
  #headerbox {
    justify-content: center;
  }

  /* index page */
  #threadmaker {
    width: 100%;
  }

  #name_and_title {
    display: flex;
    flex-direction: column;
  }

  #name_and_title * {
    width: 90%;
  }

  #textinput {
    width: 80%;
  }

  /* thread page */
  #nameinput {
    width: 90%;
  }
}
