body {
  padding: 0%;
  font: 18px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

header {
	padding: 0px;
}

button {
	height: 60%;
}

#buttonarea {
	display: flex;
	align-items: flex-end;
}

.site-content {
  padding: 2%;
}

.Site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.Site-content {
  flex: 1;
}

#footer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding-bottom: 0%;
}

#footer p {
	width: 50%;
}

#headerbox {
	display: flex;
	justify-content: space-around;

}

#rebbitfrog {
	height: 100%;
	width: 50%;
}

#thradasmidur {
	display:flex;
	flex-direction: column;
}

#thradasmidur1 {
	display: flex;
	justify-content: flex-start;
}

#thradasmidur1 * {
	padding-right: 2%;
}