extends layout

block content
  h1= title
  a(href='tv/Rúv') Rúv
  div
  a(href='tv/Rúv íþróttir') Rúv íþróttir
  div
  a(href='tv/Stöð 2') Stöð 2
  div
  a(href='tv/Stöð 2 Sport') Stöð 2 Sport
  div
  a(href='tv/Stöð 2 Sport 2') Stöð 2 Sport 2
  div
  a(href='tv/Stöð 2 Gull') Stöð 2 Gull
  div
  a(href='tv/Stöð 2 Bíó') Stöð 2 Bíó
  div
  a(href='tv/Stod 3') Stöð 3
  div
  a(href='tv/Skjár 1') Skjár 1
