extends layout

block content
  h1= title
  main(class='container')
    h1 Spjallborð hinna háfleygu hugmynda.
    section(class='entries')
      div(class='entry-node')
        div(class='row')
          div(class='col-xs-12')
            h2 Herra ipsum
            p Lorem ipsum dolo sit amet...
        div(class='replies-node')
          div(class='row')
            div(class='col-xs-12')
              div(class='panel panel-success')
                div(class='panel-heading')
                  h3(class='panel-title') Frú Rutrum
                div(class='panel-body') Svar frá frú Rutrum